pre {
  margin: 0 !important;
}

#codeArea {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 72vh;
  box-sizing: border-box;
  padding: 0.5em;
  font-size: 0.9em;
  font-family: "Consolas";
  color: transparent;
  background: transparent;
  caret-color: black;
  outline: 0;
  white-space: pre;
}

code {
  z-index: 0 !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  padding: 0.5em !important;
  background: transparent !important;
  font-family: "Consolas" !important;
  overflow-y: auto !important;
  height: 72vh !important;
  width: 100% !important;
  box-sizing: border-box !important;
  font-size: 0.9em !important;
}

#lineCounterContainer {
  text-align: right;
  font-family: "Consolas";
  padding: 0.5em;
  box-sizing: border-box;
  overflow: hidden;
  height: 72vh;
  padding-left: 0;
  font-size: 0.9em;
}

#lineCounterContainer::-webkit-scrollbar {
  display: none;
}